In [2]:
name = 'Ansari'
print(name)

Ansari

In [3]:
name1, name2, name3 = "ansari", 'rajib', 'konak'
print(name1, name2, name3)

ansari rajib konak

In [4]:
name3

'konak'

In [5]:
department1 = department2 = department3 = "CSE"

In [6]:
department2

'CSE'

In [7]:
counter = 2
counter += 1
counter

3

In [8]:
my_favorite_number = 7
is_good = my_favorite_number > 5
is_good

True

In [9]:
type(is_good)

bool

In [12]:
print(type('ansari'))
print(type(23))

<class 'str'>
<class 'int'>

In [13]:
current_year = 2023
print(type current_year)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1927107339.py, line 2)

In [14]:
print(type(current_year))

NameError: name 'current_year' is not defined

In [15]:
current_year = 2023
print(type(current_year))

<class 'int'>

In [16]:
big_numberes = 2982522253839237428347239710571561056123956198
print(type(big_numberes))

<class 'int'>

In [17]:
import math
pi = math.pi
pi

3.141592653589793

In [18]:
type(pi)

float

In [19]:
int(pi)

3

In [20]:
float(7)

7.0

In [21]:
user_input = input("Please write something: ")
print(type(user_input))
print(type(int(user_input)))

<class 'str'>
<class 'int'>

In [22]:
type(45 * 3.0)

float

In [23]:
type(45 * 3)

int

In [24]:
type(10/3)

float

In [25]:
type(10/2)

float

In [26]:
type(10//2)

int

In [27]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [28]:
is_ice_bag_expensive

False

In [29]:
5 + False

5

In [30]:
3. + True

4.0

In [31]:
True + True

2

In [32]:
False + True

1

In [1]:
'''
This is a print function 
'''
print('ahnaf ansari')

ahnaf ansari

In [2]:
True + False

1

In [4]:
family_names = {
    'Fathers Name' : 'A.T.M Mozharul Haque',
    'Mothers Name' : 'Masiha Akter',
    'My Name' : 'Ahnaf Ansari'
}
family_names

{'Fathers Name': 'A.T.M Mozharul Haque',
 'Mothers Name': 'Masiha Akter',
 'My Name': 'Ahnaf Ansari'}

In [5]:
family_names['Fathers Name']

'A.T.M Mozharul Haque'

In [6]:
for key in family_names.keys():
    print(family_names[key])

A.T.M Mozharul Haque
Masiha Akter
Ahnaf Ansari

In [7]:
family_names.fromkeys()

TypeError: fromkeys expected at least 1 argument, got 0

In [8]:
family_names.items()

dict_items([('Fathers Name', 'A.T.M Mozharul Haque'), ('Mothers Name', 'Masiha Akter'), ('My Name', 'Ahnaf Ansari')])

In [9]:
for key,value in family_names.items():
    print(f'{key} : {value}')

Fathers Name : A.T.M Mozharul Haque
Mothers Name : Masiha Akter
My Name : Ahnaf Ansari

In [10]:
my_values = [1,2,3,4,5,6,7,8,9,10]
for value in my_values:
    print(value)

1
2
3
4
5
6
7
8
9
10

In [11]:
my_name = 'ahnaf ansari'
'ahnaf' in my_name

True

In [13]:
'ansari' in my_name

True

In [14]:
sister_name = 'Taspi Ansari'
print(f'{sister_name}')

Taspi Ansari