In [1]:
bool('ansari')

True

In [2]:
bool(5)

True

In [3]:
today = 'saturday'

In [4]:
today.lower()

'saturday'

In [5]:
today.upper()

'SATURDAY'

In [6]:
today.capitalize()

'Saturday'

In [7]:
another_day = today.replace('satur', 'wednes')

In [8]:
today

'saturday'

In [9]:
another_day

'wednesday'

In [10]:
today.split('u')

['sat', 'rday']

In [11]:
Weeks = ['sat', 'sun', 'mon', 'tues', 'wed', 'thus', 'fri']

In [12]:
for days in Weeks:
    print(days.capitalize())

Sat
Sun
Mon
Tues
Wed
Thus
Fri

In [13]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line

'       This is a long line with some space before, after,     and some space in the middle..    '

In [14]:
a_long_line.strip()

'This is a long line with some space before, after,     and some space in the middle..'

In [15]:
len(a_long_line)
len(a_long_line.strip())

85

In [16]:
len(a_long_line)

96

In [18]:
len(a_long_line.strip())

85

In [19]:
a_long_line = a_long_line.strip()

In [20]:
len(a_long_line)

85

In [21]:
str(5)

'5'

In [22]:
str(5) + str(5)

'55'

In [23]:
str(23.432)

'23.432'

In [24]:
str(True)

'True'

In [25]:
lne(str(True))

NameError: name 'lne' is not defined

In [26]:
len(str(True))

4

In [27]:
first_name = 'John'
first_name == 'Doe'

False

In [2]:
the_3_musketers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketers)

"['Athos', 'Porthos', 'Aramis']"

In [4]:
testing_list = str(the_3_musketers)
testing_list[2]

'A'

In [6]:
first_name = 'ahnaf'
first_name != 'ansari'

True

In [7]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [8]:
type(fruits)

list

In [9]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [10]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [11]:
empty_list = []

In [12]:
empty_list

[]

In [13]:
a_list[len(4)]

TypeError: object of type 'int' has no len()

In [14]:
len(a_list[4])

3

In [15]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [16]:
a_list[-3:-1]

[3.14, ['apple', 'banana', 'cherry']]

In [17]:
a_list[-3:]

[3.14, ['apple', 'banana', 'cherry'], True]

In [18]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [19]:
a_list.append('Miami')

In [20]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True, 'Miami']

In [21]:
a_list.insert(1, 'world')
a_list

[23,
 'world',
 'hello',
 None,
 3.14,
 ['apple', 'banana', 'cherry'],
 True,
 'Miami']

In [22]:
a_list

[23,
 'world',
 'hello',
 None,
 3.14,
 ['apple', 'banana', 'cherry'],
 True,
 'Miami']

In [23]:
a_list

[23,
 'world',
 'hello',
 None,
 3.14,
 ['apple', 'banana', 'cherry'],
 True,
 'Miami']

In [24]:
a_list.remove(0)

ValueError: list.remove(x): x not in list

In [25]:
a_list.remove(a_list[0])

In [26]:
a_list

['world', 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True, 'Miami']

In [27]:
a_list.index('world')

0

In [28]:
a_list.index(3.14)

3

In [29]:
a_list.index('3.14')

ValueError: '3.14' is not in list

In [30]:
a_list

['world', 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True, 'Miami']

In [31]:
a_list.pop()

'Miami'

In [32]:
'banana' in fruits

True

In [33]:
more_fruits = fruits + ['avocado', 'grape', 'orange']

In [34]:
more_fruits

['apple', 'banana', 'cherry', 'avocado', 'grape', 'orange']

In [35]:
more_more_fruits = more_fruits + a_list

In [36]:
more_more_fruits

['apple',
 'banana',
 'cherry',
 'avocado',
 'grape',
 'orange',
 'world',
 'hello',
 None,
 3.14,
 ['apple', 'banana', 'cherry'],
 True]

In [37]:
names = ['tashnu', 'taspi', 'adnan', 'ahnaf']
more_names = names.copy()

In [38]:
more_names['ansari']

TypeError: list indices must be integers or slices, not str

In [39]:
more_names[0] = 'ansari'

In [40]:
names

['tashnu', 'taspi', 'adnan', 'ahnaf']

In [41]:
more_names

['ansari', 'taspi', 'adnan', 'ahnaf']

### Tuple

In [42]:
fruits = ('apple', 'cherry', 'dates')

In [43]:
fruits

('apple', 'cherry', 'dates')

In [44]:
len(fruits)

3

In [45]:
fruits[0]

'apple'

In [46]:
fruits[2]

'dates'

In [47]:
fruits[-2]

'cherry'

In [48]:
fruits[-3]

'apple'

In [49]:
'apples' in fruits

False

In [50]:
'apple' in fruits

True

In [51]:
fruits[2] in fruits

True

In [52]:
fruits[0] = 'ahnaf'

TypeError: 'tuple' object does not support item assignment

In [53]:
names_tuple = ('ahnaf', 'adnan')

In [54]:
fruits += names_tuple

In [55]:
fruits

('apple', 'cherry', 'dates', 'ahnaf', 'adnan')

In [56]:
new_style_tuple = 'ansari', 'ahnaf'

In [57]:
type(new_style_tuple)

tuple

In [60]:
nickname = 'ansari, ahnaf'

In [61]:
firstName, lastname = nickname

ValueError: too many values to unpack (expected 2)

In [62]:
nickname = ('ansari', 'ahnaf')
firstName, lastName = nickname

In [63]:
firstName

'ansari'

In [64]:
lastName

'ahnaf'

In [65]:
list_name = list(nickname)
list_name

['ansari', 'ahnaf']

In [66]:
help(nickname.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [67]:
?nickname.index

Signature: nickname.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [68]:
?nickname.count

Signature: nickname.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [69]:
nickname.count('ansari')

1

In [70]:
nickname

('ansari', 'ahnaf')

In [73]:
nickname += tuple('ansari',)

In [74]:
nickname

('ansari', 'ahnaf', 'a', 'n', 's', 'a', 'r', 'i', 'a', 'n', 's', 'a', 'r', 'i')

In [75]:
bashar = 'ansari',

In [76]:
my_name = 'ansari', 'ahnaf'

In [77]:
my_name += bashar

In [78]:
my_name

('ansari', 'ahnaf', 'ansari')

In [79]:
my_name.count('ansari')

2

In [80]:
name = 'ansari ahnaf'
?name.endswith

Docstring:
S.endswith(suffix[, start[, end]]) -> bool

Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.
Type:      builtin_function_or_method

### Dictionary

In [81]:
person1 = {
    'name' : 'John Doe',
    'sex' : 'Male',
    'age' : '32', 
    'married': True
}

In [82]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': '32', 'married': True}

In [83]:
person2 = dict(name = 'ansari', sex='Male', age=28,Married=False)

In [85]:
person2

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': False}

In [87]:
type(person2)

dict

In [89]:
for key,value in person2.items():
    print(f'{key}: {value}')

name: ansari
sex: Male
age: 28
Married: False

In [90]:
person2[name]

KeyError: 'ansari ahnaf'

In [91]:
person2['name']

'ansari'

In [92]:
?person2.get

Signature: person2.get(key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [93]:
person2.get('name')

'ansari'

In [94]:
person2.get('address', None)

In [95]:
person2['address']

KeyError: 'address'

In [96]:
person2.get('address', 'No Value')

'No Value'

In [98]:
'name' in person2

True

In [99]:
person2['Married'] = True

In [100]:
person2

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': True}

In [101]:
person2['Address'] = '1, Penny Lane'

In [102]:
person2

{'name': 'ansari',
 'sex': 'Male',
 'age': 28,
 'Married': True,
 'Address': '1, Penny Lane'}

In [103]:
person2.popitem('Address')

TypeError: dict.popitem() takes no arguments (1 given)

In [104]:
person2.popitem()

('Address', '1, Penny Lane')

In [105]:
peron2

NameError: name 'peron2' is not defined

In [106]:
person2

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': True}

In [107]:
person2.keys()

dict_keys(['name', 'sex', 'age', 'Married'])

In [108]:
ansari = tuple(person2.keys())

In [109]:
ansari

('name', 'sex', 'age', 'Married')

In [110]:
person2.items()

dict_items([('name', 'ansari'), ('sex', 'Male'), ('age', 28), ('Married', True)])

In [111]:
person2.values()

dict_values(['ansari', 'Male', 28, True])

In [112]:
person2.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [113]:
person2_keys = list(person2.keys())
person2_values = list(person2.values())
person2_items = list(person2.items())

In [114]:
person2_keys

['name', 'sex', 'age', 'Married']

In [115]:
person2_values

['ansari', 'Male', 28, True]

In [116]:
person2_items

[('name', 'ansari'), ('sex', 'Male'), ('age', 28), ('Married', True)]

In [117]:
person2_items[1]

('sex', 'Male')

In [118]:
list(person2_items[1])

['sex', 'Male']

In [120]:
result = zip(person2_items[0], person2_items[1])

In [122]:
tuple(result)

(('name', 'sex'), ('ansari', 'Male'))

In [123]:
person2

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': True}

In [124]:
person3 = person2.copy()

In [125]:
person3

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': True}

In [126]:
person3['name'] = 'adnan'

In [127]:
person3

{'name': 'adnan', 'sex': 'Male', 'age': 28, 'Married': True}

In [129]:
person2

{'name': 'ansari', 'sex': 'Male', 'age': 28, 'Married': True}

In [130]:
person3['testing'] = 'testing'

In [131]:
person3

{'name': 'adnan',
 'sex': 'Male',
 'age': 28,
 'Married': True,
 'testing': 'testing'}

In [132]:
?dict.update

Docstring:
D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
In either case, this is followed by: for k in F:  D[k] = F[k]
Type:      method_descriptor

In [135]:
person3.update(dict(person1.items()))

In [136]:
person3

{'name': 'John Doe',
 'sex': 'Male',
 'age': '32',
 'Married': True,
 'testing': 'testing',
 'married': True}